
/*Imported Fonts from Google Fonts (Open Sans)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

/*Background Image*/

body {
    background: url(../images/pexels-tim-mossholder-936801.jpg) no-repeat center center fixed;
    background-size: cover;
    margin:0;
}

/*Header*/

#logo {
    background-image: url(../images/crissy-jarvis-cHhbULJbPwM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: 3% center;
    padding: 2em;
}

header {
    background-color: ivory;
}

#headerOverlay {
    margin:3px 0px 3px 150px;
    font-family: 'Open Sans', Times, serif;
}

#slogan {
    font-style: italic;
    font-size: 20px;
}

header span {
    font-weight: bold;
}

.fa.fa-facebook-official, .fa.fa-instagram, .fa.fa-twitter-square {
    float: right;
    padding: .5em;
}

/*Navigation Bar*/

.active {
    background-color:lightgray;
    border: 2px solid black;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 1em 1em;
    color:black;
    font-size: 18px;
    text-decoration: none;
}

nav {
    background-color: red;
    font-family: 'Open Sans', Times, serif;
    font-size:18px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

nav a:hover { 
    background-color: gray;
    text-decoration: underline;
}

/*Main Content*/

main {
    font-family: 'Open Sans', Times, serif;
}

img#aboutUsPic {
    width: 250px;
    float:left;
    padding-right: 4em;
}

#aboutUs {
    margin: 25px;
    background-color: orange;
    background-size: cover;
    padding:5em;
}

.underline {
    text-decoration: underline;
}

main h1 {
    font-family: Courier New, Courier, monospace;
    padding: .5em;
    text-align: center;
    background-color: yellow;
}

.indexLeftColumn {
    width: 50%;
    float: left;
    padding: 2em;
    background-color: green;
    box-sizing:border-box;
}

.indexRightColumn {
    width: 50%;
    float: right;
    padding: 2em;
    background-color: blue;
    box-sizing: border-box;
}

img.indexRightColumn {
    height: auto;
}

img.indexLeftColumn {
    height: auto;
}

/*Team Page*/

h2#leadership {
    background-color: orange;
    width: 100%;
    float: left;
    text-align:center;
    display: inline-block;
}

h2#sales {
    background-color: yellow;
    width: 100%;
    float: left;
    text-align: center;
    display: inline-block;
}

h2#administration {
    background-color: green;
    width: 100%;
    float: left;
    text-align: center;
    display: inline-block;
}

h2#instructors {
    background-color: blue;
    width: 100%;
    float: left;
    text-align: center;
    display: inline-block;
}

main div img.teamLeftColumn {
    float: left;
    width: 20%;
    padding: 1em;
}

.teamContent {
    background-color: ivory;
    width: 80%;
    display: inline-block;
}

.teamRightColumn{
    padding:1em;
}

aside {
    float:right;
    width: 19%;
    border-left: 3px solid black;
    background-color: ivory;
}

aside h2 {
    background-color: red;
    font-weight: normal;
}

aside ul li a {
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
}

/*Classes Page*/

#classesHeader {
    background-color: orange;
    text-align: center;
}

div#classCards {
    margin:0 25%;
}

div.cardContent  {
    float: left;
    background-color: ivory;
    margin: .5em;
    width:235px;
    height: 475px;
    display:inline-block;
}

.cardContent:hover{
    border: 2px solid black;
}

div#cardContent p, div#cardContent h3 {
    margin:1em;
    text-align:left;
}

h2#classTableHeader{
    text-align: center;
    background-color: yellow;
}

table{
    margin:auto;
    margin-bottom: 2em;
    text-align:center;
}

thead{
    background-color: gray;
}

tr:nth-child(odd) td {
    background-color: ivory;
    width: 100px;
}

tr:nth-child(even) td {
    background-color: lightgray;
    width: 100px;
}

div#classCards a p, h3{
    padding:0 1em;
    color:black;
}

tfoot {
    font-weight: bold;
}

/*Contact Page*/

h1#contactUs {
    background-color: orange;
}

p.contactPage {
    padding: 1em 1em;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    font-weight: bold;
}

p#phone {
    background-color: yellow;
}

p#email {
    background-color: green;
}

p#address {
    background-color: blue;
}

/*Footer*/

footer {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 1em 2em;
    font-size: 12px;
    background-color: lightslategrey;
    font-family: 'Open Sans', Times, serif;
}

.clear {
    clear: both;
}