body {
}
html {
    background-color: lightgray;
}

#slogan {
    font-size:18px;
}

#fancySlogan {
    font-weight: bold;
    font-style:italic;
    font-size: 18px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 1em 2em;
    color:black;
    font-size: 18px;
    text-decoration: none;
}

nav {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

nav a:hover { 
    background-color: gray;
}

nav a:focus {
    background-color:gray;
}

nav a:active {
        background-color: gray;
}

main h1 {
    color: white;
    text-align: center;
    background-color: black;
}

h2 {
    color: black;
}

p {

}