
/*Imported Fonts from Google Fonts (Open Sans)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

body {
}

/*Background Image*/

body {
    background: url(../images/pexels-tim-mossholder-936801.jpg) no-repeat center center fixed;
    background-size: cover;
    margin:0;
}

/*Header*/

#logo {
    background-image: url(../images/crissy-jarvis-cHhbULJbPwM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: 3% center;
    padding: 2em;
}

header {
    background-color: ivory;
}

#headerOverlay {
    margin:3px 0px 3px 150px;
    font-family: 'Open Sans', Times, serif;
}

#slogan {
    font-style: italic;
    font-size: 20px;
}

header span {
    font-weight: bold;
}

.fa.fa-facebook-official, .fa.fa-instagram, .fa.fa-twitter-square {
    float: right;
    padding: .5em;
}
/*Navigation Bar*/
.active {
    background-color:lightslategray;
    border: 2px solid black;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 1em 1em;
    color:black;
    font-size: 18px;
    text-decoration: none;
}

nav {
    background-color: crimson;
    font-family: 'Open Sans', Times, serif;
    font-size:18px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

nav a:hover { 
    background-color: gray;
    text-decoration: underline;
}

/*Main Content*/

main {
    font-family: 'Open Sans', Times, serif;
}

img#aboutUsPic {
    width: 250px;
    float:left;
    padding-right: 4em;
}

#aboutUs {
    margin: 25px;
    background-color: orange;
    background-size: cover;
    padding:5em;
}

.underline {
    text-decoration: underline;
}

main h1 {
    font-family: Courier New, Courier, monospace;
    padding: .5em;
    text-align: center;
    background-color: yellow;
}

.indexLeftColumn {
    width: 50%;
    float: left;
    padding: 2em;
    background-color: green;
    box-sizing:border-box;
}

.indexRightColumn {
    width: 50%;
    float: right;
    padding: 2em;
    background-color: blue;
    box-sizing: border-box;
}

img.indexRightColumn {
    height: auto;
}

img.indexLeftColumn {
    height: auto;
}

/*Team Page*/
h2#leadership {
    background-color: orange;
}

h2#sales {
    background-color: yellow;
}

h2#administration {
    background-color: green;
}

h2#instructors {
    background-color: blue;
}

aside {
    width: 25%;
    float: right;
}


/*Contact Page*/
h1#contactUs {
    background-color: orange;
}
p.contactPage {
    padding: 1em 1em;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    font-weight: bold;
}

p#phone {
    background-color: yellow;
}

p#email {
    background-color: green;
}

p#address {
    background-color: blue;
}
/*Footer*/
footer {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 1em 2em;
    font-size: 12px;
    background-color: lightslategrey;
    font-family: 'Open Sans', Times, serif;
}

.clear {
    clear: both;
}